
<div id="micropost-<%= micropost.id %>">
    <div>

      <%= link_to gravatar_for(micropost.user, size: 50), micropost.user %>
      <%= link_to micropost.user.name, micropost.user %>
    </div>

    <div>
      <%= image_tag micropost.display_image if micropost.image.attached? %>
    </div>

    <div>
      <%= micropost.content %>
    </div>

    <div>
      <%= time_ago_in_words(micropost.created_at) %> ago.
    </div>

    <% if current_user?(micropost.user) %>
      <%= button_to "delete", micropost, method: :delete, class: "button button-main" %>
    <% end %>
</div>
<hr>




